.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.signin {
  width: 60%;
  height: 400px;
  border: 2px solid cadetblue;
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: darkslategray;
}

.signin h1 {
  margin-bottom: 50px;
}

#signinBtn {
  margin-top: 40px;
  width: 100%;
  background-color: cadetblue;
  border-color: cadetblue;
}
